      

  .thumbnail{
    width: 100%;
    cursor: pointer;
/* width: 300px;    */
/* WIDTH keeps the image looking nice, adjusting both the height and lenght */
/* display: inline; */
/*Converting THUMBNAIL to DISPLAY:BLOCK, turns the image into a display block, 
and this will cause the image to take up the entire line pushing the TEXT BOX/SEARCH BAR down to the next line.*/
             }

  
  /* .v_title{ 
    width: 300px;
  }*/

  /* .v-author, .v-stats{ 
    display: inline-block;
  }
   even though paragraphs by default are block elements, 
  we can change them very easily to inline block with the display property so that we can put them beside each other. */

  .v-preview{
    /* display: inline-block; */
    /* vertical-align: top; */
    /* Aligns the two DIV to the top */

    /* margin-right: 15px; */
  }

  .horizontal1{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    
  }

  .horizontal2{
    display: inline-block;
    width: 200px;
  }

  .profile-pic{
    /* width: 50px; */
    width: 36px;

    border-radius: 25px;
    
  }

  .tech{
    margin-top: 0px;
    font-weight: 500;
    /* we set the font-weight to 500, which is the medium size that we picked on Google fonts */
    font-size: 14px;
    line-height: 20px;
    /* we're going to change the space between the lines, the property to do that, is called line height. */
    margin-bottom: 10px;
  }

  .vertical1{
    margin-bottom: 8px;
    position: relative;
  }

  .marques,.views{

    color: #606060;
    font-size: 12px;
  }

  .marques{
    margin-bottom: 4px;
  }

  .vertical2{
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .video-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* 4 1fr stands for number of columns and size  */
    column-gap: 16px;
    row-gap: 40px;
    /* text-decoration: underline; */
    /* font-family: Roboto, Arial; */
  }

  @media (max-width : 750px){
    .video-grid{
      display: grid;
      grid-template-columns: auto auto  ;
      /* 4 1fr stands for number of columns and size  */
      column-gap: 16px;
      row-gap: 40px;
    }
  }
  

  @media (min-width: 751px) and (max-width : 999px){
    .video-grid{
      display: grid;
      grid-template-columns: auto auto auto auto  ;
      /* 4 1fr stands for number of columns and size  */
      column-gap: 16px;
      row-gap: 40px;
    }

  }

  @media (min-width: 1000px){
  .video-grid{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    /* 4 1fr stands for number of columns and size  */
    column-gap: 16px;
    row-gap: 40px;
  }
}


  .v-time{
    
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    /*  So this first value is going to be the vertical padding. So padding top, padding bottom, and the second value is horizontal padding, padding, left and padding right? The next thing we can do is have four directions. */
    background-color: black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 20px;
  }